body {
  margin: 0;
  background-color: rgb(255, 182, 73);
}

/* Header CSS */
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 24px;
  background-color: #272727;
  font-family: 'Atten New', sans-serif;
}

.logo img {
  height: 35px;
  width: auto;
}

.logo {
  margin: 0;
  line-height: 0;
}

nav {
  display: flex;
  gap: 30px;
}

nav a {
  text-decoration: none;
  color: #dcdcdc;
  font-weight: 500;
  padding: 6px 4px;   /* clickable area */
}

nav a:hover {
  color: #b18200;
}

nav a.active {
  color: #dba000;
  /* border-bottom: 1px solid #cf9800; */
}


/* Introduction Elements*/

.intro {
  display: flex;          
  align-items: center;    
  gap: 100px;           
  padding: 10%;
  background-color: #ffffff; 
  border-bottom: 2px solid black;
}

/* Text side */
.intro-paragraph {
  flex: 1;
  padding: 50px;
}

/* Image side */
.profile {
  flex: 1;
}

.profile img{
  width: 100%;  
  height: auto;
  max-width: 450px;
}

/* Headings */
h1{
  font-family: 'Atten New', sans-serif;
  font-weight: 500;
}

h3 {
  font-family: 'Atten New', sans-serif;
  font-weight: 400;
  font-size: small;
}

p{
  font-family: 'Atten New', sans-serif;
}

/* Fonts */
@font-face {
  font-family: 'Atten New';
  src: url('/fonts/atten-new/AttenNewRegular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Atten New';
  src: url('/fonts/atten-new/AttenNewMedium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
}


