body {
  margin: 0;
  background-color: rgb(232, 231, 230);
}

/* Header CSS */
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 24px;
  background-color: #f5f5f5;
}

.logo img {
  height: 40px;
  width: auto;
}

.logo {
  margin: 0;
  line-height: 0;
}

nav {
  display: flex;
  gap: 30px;
}

nav a {
  text-decoration: none;
  color: #333;
  font-weight: 500;
  padding: 6px 4px;   /* clickable area */
}

nav a:hover {
  color: #0077cc;
}

nav a.active {
  color: #0077cc;
  border-bottom: 2px solid #0077cc;
}


/* Headings */
h1, h2, h3 {
  font-family: 'Anton', sans-serif;
}
