body {
  margin: 0;
  background-color: rgb(255, 182, 73);
}

/* Navigation Bar */
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.75rem 1.5rem;
  background-color: #272727;
  font-family: 'Atten New', sans-serif;
}

.logo img {
  height: 2rem;
  width: auto;
}

.logo {
  margin: 0;
  line-height: 0;
}

nav {
  display: flex;
  gap: 2rem;
}

nav a {
  text-decoration: none;
  color: #dcdcdc;
  font-weight: 500;
  padding: 0.4rem 0.25rem;
}

nav a:hover {
  color: #b18200;
}

nav a.active {
  color: #dba000;
}

/* Intro Section */
.intro-main {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: #ffffff;
  border-bottom: 0.125rem solid black;
}

.intro {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6.25rem;
  padding: 10%;
  background-color: #ffffff;
}

.intro-paragraph {
  max-width: 37.5rem;
  flex: 1;
}

.intro-paragraph h1 {
  margin-bottom: 0.5rem;
}

.intro-paragraph h3 {
  margin: 0;
}

.profile {
  flex: 1;
}

.profile img {
  width: 100%;
  height: auto;
  max-width: 28rem;
}

/* Contacts */
.contact{
  display: flex;
  align-items: center;
  justify-content: left;
  gap: 3rem;

  background-color: #ffffff;

}
.contact-email{
  font-family: 'Atten New', sans-serif;
  font-size: 0.8rem;
  color: #4b4b4b;
}

.contact-button{
  font-family: 'Atten New', sans-serif;
  font-size: 1rem;
  display: block;
  background-color: rgb(255, 188, 62);
  padding: 8px 20px;

}
.contact-button:hover {
  background-color: darkorange;
}


/* Skill Section */
.skill-main {
  display: flex;
  justify-content: center;
  background-color: #ffffff;
  border-bottom: 0.125rem solid black;
}

.skills{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6.25rem;
  padding: 8%;
  background-color: #ffffff;

}

/* Experience Section */
.project-main {
  display: flex;
  justify-content: center;
  background-color: #ffffff;
  border-bottom: 0.125rem solid black;
}

.projects{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6.25rem;
  padding: 8%;
  background-color: #ffffff;
}

/* Visualization Section */
.visualization-section{
  display: flex;
  flex-direction: column; 
  padding-left: 10%;
  padding-top: 5%;
  justify-content: center;
  background-color: #ffffff;
  border-bottom: 0.125rem solid black;

}

.visualization-section h1 {
  margin: 0; 
}

.svg-section{
  padding-bottom: 10%;
}

/* Fonts */
h1 {
  font-family: 'Atten New', sans-serif;
  font-weight: 500;
}

h2 {
  font-family: 'Atten New', sans-serif;
  font-weight: 500;
  font-size: 1.5rem;
  color: #b18200;
}

h3 {
  font-family: 'Atten New', sans-serif;
  font-weight: 400;
  font-size: 0.9rem;
  color: #4b4b4b;
}

p {
  font-family: 'Atten New', sans-serif;
  font-size: 1rem;
}

footer {
  margin: 1rem;
}

ul {
  font-family: 'Atten New', sans-serif;
  font-size: 1rem;
}

@font-face {
  font-family: 'Atten New';
  src: url('/fonts/atten-new/AttenNewRegular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Atten New';
  src: url('/fonts/atten-new/AttenNewMedium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
}

#tooltip {
    position: absolute;
    padding: 6px 10px;
    background: rgba(0,0,0,0.8);
    color: #fff;
    font-size: 12px;
    border-radius: 4px;
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.2s;
    font-family: Arial, sans-serif;
  }